/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/


@font-face {
    font-family: 'selectricroman';
    src: url('../fonts/selectricroman.woff2') format('woff2'),
         url('../fonts/selectricroman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'selectricmono';
    src: url('../fonts/selectricmono.woff2') format('woff2'),
         url('../fonts/selectricmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
	font-family: selectricroman, serif;
	 height: 100%;
	 background: url(../img/cachot2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

li a {
		color: #888
}

li a.active {
	color: yellow;
}

ul{
	margin-left: 1em;
}

body{max-width:50%;
	margin-right: auto;
	margin-left: auto;
}


h1 {
	font-family: selectricmono, monospace;
	text-align: center;
}


h2 {
	font-family: selectric, monospace;
	text-align: center;
}

p{
	text-indent: 1.8em;
}


/*
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
